<header class="navbar align-items-center d-flex">
    <app-logo />
    <div>
        <button class="btn btn-outline-primary col-auto ms-2 me-1">
            <div class="fw-semibold text-dark auto-resizing">
                <span class="">Dark </span>
                <i class="bi bi-moon-fill "></i>
            </div>
        </button>
        <button class="btn btn-outline-primary me-4 col-auto ms-1 me-1">
            <div class="fw-semibold text-dark auto-resizing">
                <span class=""> Settings </span>
                <i class="bi bi-gear-fill"></i>
            </div>
        </button>
    </div>
</header>