<header class="navbar align-items-center d-flex">
    <app-logo (click)="navigateHome()" />
    <div class="p-0 d-flex">
        <button type="button" class="btn btn-outline-primary ms-2 me-1" (click)="toggleTheme()"
            [attr.aria-pressed]="isDarkMode() === 'dark'">
            <div class="fw-semibold app-type-nav text-uppercase">
                <span>{{ isDarkMode() === 'dark' ? 'Light' : 'Dark' }}</span>
                <i [class.bi-moon-fill]="isDarkMode() !== 'dark'" [class.bi-sun-fill]="isDarkMode() === 'dark'"
                    class="ms-1"></i>
            </div>
        </button>
        <button (click)="navigateSettings()" class="btn me-2 me-sm-4 ms-1"
            [class.btn-primary]="currentPage() == Page.Settings"
            [class.btn-outline-primary]="currentPage() != Page.Settings">
            <div class="fw-semibold app-type-nav text-uppercase">
                <span>Settings</span>
                <i class="bi bi-gear-fill ms-1"></i>
            </div>
        </button>
    </div>
</header>